body{
    background-color: aqua;
    text-align: center;
}
img{
    height: 350px;
    width: 550px;
}

p{
    font-size: 20px;
    color: fuchsia;
}
#p1{
    text-align: left;
    margin-left: 170px;
    max-width: 500px;
}
#p2{
    text-align: right;
    margin-left:720px;
        max-width: 500px;
}
